# dependencies
/node_modules

# compiled output
/dist

# Docker
/pg_data
/redis_data

# logs
/logs
*.log
npm-debug.log*

# IDEs and editors
/.idea

# IDE - VSCode
/.vscode/*
!/.vscode/settings.json

# enviroment
*.env
